In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [4]:
df_train = pd.read_csv('train3-035.csv')
df_test = pd.read_csv('test3-035.csv')

In [10]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
scaler.fit(df_train.drop('X..language', axis=1))

StandardScaler()

In [13]:
scaled_features = scaler.transform(df_train.drop('X..language', axis=1))

In [14]:
df_train.head()

,X..language,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12
0,3,19.01040,0.615557,17.9175,24.1379,6.43722,24.6748,6.53387,24.9091,19.7648,-0.516485,22.4853,-2.841630
1,0,9.54015,0.839993,19.7788,16.7188,4.65268,24.0906,2.22453,21.1182,17.6427,-1.251420,13.0626,-0.712351
2,0,7.58496,1.967590,19.0891,13.6588,7.39441,27.2866,1.72535,22.6099,16.7421,-0.036236,15.2704,0.115583
3,3,10.88780,8.102070,17.8949,15.1067,4.30169,23.3552,4.51843,26.6631,16.7780,-0.036472,15.5580,-1.007910
4,0,6.92324,3.247880,16.6664,17.2250,8.18011,24.5492,3.11016,22.9525,18.2794,0.661447,15.3711,-0.002484

In [17]:
df_feat = pd.DataFrame(scaled_features, columns=df_train.columns[1:])

In [18]:
knn = KNeighborsClassifier(1)
knn.fit(df_feat, df_train['X..language'])

KNeighborsClassifier(n_neighbors=1)

In [19]:
pred = knn.predict(df_feat)

In [20]:
print(classification_report(df_train['X..language'], pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        20
           3       1.00      1.00      1.00        20
           5       1.00      1.00      1.00        28

    accuracy                           1.00        68
   macro avg       1.00      1.00      1.00        68
weighted avg       1.00      1.00      1.00        68

In [36]:
df_test.rename(columns={'X..X1': 'X1'}, inplace=True)

In [37]:
scaler.fit(df_test)

StandardScaler()

In [38]:
df_test = pd.DataFrame(scaler.transform(df_test), columns=df_test.columns)

In [41]:
pred = knn.predict(df_test)

In [45]:
np.savetxt('question3.csv', pred)