In [20]:
import numpy as np
import pandas as pd

from numpy.random import randn
np.random.seed(101)

In [21]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [34]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])
df

             A         B
G1 1 -0.116773  1.901755
   2  0.238127  1.996652
   3 -0.993263  0.196800
G2 1 -1.136645  0.000366
   2  1.025984 -0.156598
   3 -0.031579  0.649826

select data from multi level index

In [35]:
df.loc['G1']

          A         B
1 -0.116773  1.901755
2  0.238127  1.996652
3 -0.993263  0.196800

In [42]:
df.index.names = ['Group', 'Num']
df

                  A         B
Group Num
G1    1   -0.116773  1.901755
      2    0.238127  1.996652
      3   -0.993263  0.196800
G2    1   -1.136645  0.000366
      2    1.025984 -0.156598
      3   -0.031579  0.649826

In [44]:
df.loc['G2'].loc[2]

A    1.025984
B   -0.156598
Name: 2, dtype: float64

In [46]:
df.loc['G1'].loc[3]['A']

-0.993263499973366

Selecting cross section

In [49]:
df.xs(2, level='Num')

              A         B
Group
G1     0.238127  1.996652
G2     1.025984 -0.156598